$white-color: #fff;
$height100: 100%;
$width100: 100%;
$width70: 70%;

ion-grid {
  width: $width100;
  height: $height100;
}

ion-row {
  height: $height100;
}

// @media (min-width: 768px) {
//   ion-col {
//     width: $width70;
//   }
// }
