<app-header title="Establecimientos"></app-header>

<ion-content class="background-image">
  <ion-refresher slot="fixed" (ionRefresh)="getStores($event)">
    <ion-refresher-content
      pullingIcon="chevron-down-circle"
      pullingText="Actualizar"
      color="danger"
      refreshingSpinner="lines"
      refreshingText="Actualizando..."
    >
    </ion-refresher-content>
  </ion-refresher>
  <ion-list #lista *ngIf="stores">
    <ion-item-sliding *ngFor="let store of stores">
      <ion-item [routerLink]="['/pages/store-detail', store.storeId]">
        <ion-avatar slot="start">
          <ion-img [src]="store.avatar | image" alt=""></ion-img>
        </ion-avatar>
        <ion-label>
          <h3>{{store.publicName}}</h3>
          <p>{{store.subcategory.category.name}}</p>
        </ion-label>
        <ion-label slot="end" class="ion-text-right">
          <ion-badge [color]="store.linesNumber > 0 ? 'primary' : 'light'">{{store.linesNumber}}</ion-badge>
        </ion-label>
      </ion-item>
    </ion-item-sliding>
  </ion-list>

  <div *ngIf="!stores">
    <ion-list>
      <ion-list-header>
        <ion-label>
          <ion-skeleton-text animated style="width: 20%"></ion-skeleton-text>
        </ion-label>
      </ion-list-header>
      <ion-item *ngFor="let skeleton of skeletons">
        <ion-avatar slot="start">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-avatar>
        <ion-label>
          <h3>
            <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
          </h3>
          <p>
            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
          </p>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
