<app-header title="Mi Cuenta"></app-header>
<ion-content class="background-image">
  <ion-grid style="height: 100%">
    <ion-row style="height: 80%">
      <ion-col size="12">
        <ion-list class="ion-padding">
          <ion-item lines="none">
            <div class="ion-padding">
              <img class="img-100 img-circle" [src]="user.image" />
            </div>
            <div class="ion-padding">
              <ion-button expand="block" shape="round"> Cambiar imagen </ion-button>
            </div>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Nombre:</ion-label>
            <ion-input
              type="text"
              name="name"
              placeholder="Nombre del usuario"
              [(ngModel)]="user.name"
              required
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">E-mail:</ion-label>
            <ion-input type="text" name="name" [value]="user.email" disabled></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Rol:</ion-label>
            <ion-input type="text" name="name" [value]="user.role.name" disabled></ion-input>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row class="ion-align-items-end" style="height: 20%">
      <ion-col size="12">
        <ion-button [disabled]="loading" color="tertiary" type="button" expand="block" (click)="save()">
          <ion-icon class="ion-padding" *ngIf="!loading" name="save-outline"></ion-icon>
          <ion-spinner *ngIf="loading" name="dots"></ion-spinner>
          Guardar datos
        </ion-button>
      </ion-col>
      <ion-col size="12">
        <ion-button
          [disabled]="loading"
          color="secondary"
          type="button"
          expand="block"
          (click)="openChangePassword()"
        >
          <ion-icon class="ion-padding" *ngIf="!loading" name="key-outline"></ion-icon>
          <ion-spinner *ngIf="loading" name="dots"></ion-spinner>
          Cambiar contraseña
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
