<app-header title="Mi Cuenta"></app-header>
<ion-content class="background-image">
	<ion-refresher slot="fixed" (ionRefresh)="getUser(user.email, $event)">
		<ion-refresher-content> </ion-refresher-content>
	</ion-refresher>
	<ion-card>
		<div class="global-container">
			<div class="container">
				<img
					*ngIf="!userService.user.image"
					class="img-100 img-circle avatar"
					[src]="userService.user.image | image"
				/>
				<div *ngIf="userService.user.image" class="avatar" [ngStyle]="{'background-image': imageUser}"></div>
				<ion-button
					type="button"
					class="image-button"
					(click)="presentActionSheet()"
					size="small"
					shape="round"
					color="light"
				>
					<ion-icon slot="icon-only" name="camera" color="dark"></ion-icon>
				</ion-button>
			</div>
		</div>
		<ion-list>
			<ion-item>
				<ion-label position="stacked">Nombre:</ion-label>
				<ion-input
					type="text"
					inputmode="text"
					name="name"
					placeholder="Nombre del usuario"
					[(ngModel)]="user.name"
					required
				></ion-input>
			</ion-item>
			<ion-item>
				<ion-label position="stacked">E-mail:</ion-label>
				<ion-input type="text" inputmode="email" name="name" [value]="user.email" disabled></ion-input>
			</ion-item>
			<ion-item>
				<ion-label position="stacked">Rol:</ion-label>
				<ion-input type="text" name="name" [value]="user.role.name" disabled></ion-input>
			</ion-item>
		</ion-list>
		<ion-card-content>
			<ion-button [disabled]="loading" color="tertiary" type="button" expand="block" (click)="save()">
				<ion-icon slot="start" *ngIf="!loading" name="save-outline"></ion-icon>
				<ion-spinner slot="start" *ngIf="loading" name="dots"></ion-spinner>
				Guardar datos
			</ion-button>
			<ion-button
				[disabled]="loading"
				color="secondary"
				type="button"
				expand="block"
				(click)="openChangePassword()"
			>
				<ion-icon slot="start" *ngIf="!loading" name="key-outline"></ion-icon>
				<ion-spinner slot="start" *ngIf="loading" name="dots"></ion-spinner>
				Cambiar contraseña
			</ion-button>
		</ion-card-content>
	</ion-card>
</ion-content>
