/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import '~@ionic/angular/css/core.css';

/* Basic CSS for apps built with Ionic */
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

// Personalizados
.background-image {
	--background: linear-gradient(rgba(80, 40, 40, 0.5), rgba(80, 40, 40, 0.5)),
		url(assets/image/logo/background_login.jpg) no-repeat center center / cover;
}

.background-header {
	--background: #5a162e;
	background-color: #5a162e;
}

.background-secondary {
	--background: #b87c91;
}

.background-menu {
	--background: #d8c9c9;
}

.text-white {
	color: #ffffff;
}

.text-black {
	color: #000000;
}

.text-gray {
	color: #ffffffb2;
}

.text-dark {
	color: #494646b2;
}

.icon-64 {
	font-size: 64px;
}

.img-circle {
	border-radius: 50%;
}

.img-300 {
	width: 300px;
}

.img-200 {
	width: 200px;
}

.img-100 {
	width: 100px;
}

.img-75 {
	width: 75px;
}

.img-50 {
	width: 50px;
}

.bg-white {
	--background: #ffffff;
}

.grid {
	background-color: aqua;
}
